fastapi==0.136.1
joblib==1.5.3
mlflow==3.12.0
mlflow_tracing==3.12.0
nltk==3.9.4
numpy==2.4.4
pandas==2.3.3
pydantic==2.13.3
python-dotenv==1.2.2
PyYAML==6.0.3
regex==2026.4.4
Requests==2.33.1
lightgbm==4.6.0
psutil==7.2.2
pyarrow==23.0.1